body {
    background: linear-gradient(to right, #AB46D2, #E4AEC5);
}

.wrapper {
    width: 70%;
    margin: auto;
    text-align: center;
}

h1 {
    margin: 20px;
    font-size: 6rem;
    color:rgb(red, green, blue);
}

