body {
    background: linear-gradient(to right, #AB46D2, #E4AEC5);
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

h1 {
    margin: 20px;
    font-size: 6rem;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    color: #FCFFE7;
}

.dice-area {
    margin: 0px 50px;
    text-align: center;
    display: inline-block;
}

p {
    font-size: 3rem;
    color:#FCFFE7; 
}

img {
    width: 320px;
} 



footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
